<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.Ke_FrutaConnectionString"
            connectionString="Data Source=DESKTOP-OB3T54G\SQLEXPRESS;Initial Catalog=Ke_Fruta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>